<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.homework.dao.ItemDao">
    <resultMap id="itemMap" type="edu.nf.homework.entity.Item">
        <id property="id" column="id"/>
        <result property="name" column="item_name"/>
        <result property="description" column="item_description"/>
        <result property="price" column="item_price"/>
        <association property="type" resultMap="typeMap"/>
    </resultMap>

    <resultMap id="typeMap" type="edu.nf.homework.entity.Type">
        <id property="id" column="t_id"/>
        <result property="tname" column="type_name"/>
    </resultMap>


    <insert id="save" parameterType="item">
        insert into item_info(item_name,item_description,item_price,t_id) values (#{name},#{description},#{price},#{type.id})
    </insert>

    <select id="getItems" resultMap="itemMap">
        select i.id,item_name,item_description,item_price,t_id,type_name from item_info i join type_info t on i.t_id=t.id
    </select>

    <update id="update" parameterType="item">
        update item_info set item_name=#{name},item_description=#{description},
                             item_price=#{price},t_id=#{type.id} where id =#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from item_info where id=#{id}
    </delete>

</mapper>
