# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\s160\s3s160\conformity-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
